.navbar {
  background: #1f1f1f;
  padding: 1em;
  display: flex;
  justify-content: center;
  gap: 2em;
  cursor: pointer;
}

.navbar a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  transition: 0.3s ease;
}

.navbar a.active,
.navbar a:hover {
  color: #00ffcc;
}
