.project-container {
  margin: 40px;
  padding: 30px;
  background-color: #f0f9ff;
  border-radius: 12px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.project-container h1 {
  text-align: center;
  color: #000000;
  font-size: 2.5rem;
  margin-bottom: 40px;
}

.projects-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
}

.intro-text {
  font-size: 1.1rem;
  color: #515151;
  margin: 10px 110px;
  line-height: 1.6;
  text-align: center;
  padding-bottom: 20px;
}

.project-card {
  background-color: #ffffff;
  margin-right: 20px;
  width: 280px;
  height: auto;
  border-radius: 10px;
  padding: 20px 60px;
  box-shadow: 0 8px 18px rgba(0, 0, 0, 0.1);
  transition: opacity 0.3s ease, transform 0.2s ease, box-shadow 0.2s ease;
  opacity: 1;
}

.projects-grid:hover > :not(:hover) {
  opacity: 0.8;
}


.project-card:hover {
  opacity: 1;
  box-shadow: 0 12px 25px rgba(0, 0, 0, 0.15);
  transform: scale(1.05);
  z-index: 1;
}

.project-card h2 {
  color: #303030;
  margin-bottom: 15px;
}

.project-card p {
  color: #515151;
  font-size: 1rem;
  line-height: 1.6;
}

.project-card a {
  display: inline-block;
  margin-top: 15px;
  color: #ffffff;
  background-color: #2980b9;
  padding: 8px 16px;
  border-radius: 12px;
  text-decoration: none;
  font-weight: 500;
}

.project-card a:hover {
  background-color: #1f6390;
}